* {
    box-sizing: border-box;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

body {
    background-color: #ffffff;
    color: #666666;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    margin:0;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-row:1 / 2;
    grid-column:2 / -2;
}

nav {
    font-weight: bold;
    background-color: #424242;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
    grid-row:2 / 3;
    grid-column: 2 / -2;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color:#ffffff;
    padding: 1rem 0rem;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #BA1C21;
} 

nav ul li {
    width: 100%;
}

h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
    background-image: url(utahtechimages/utahtechlogo.svg);
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 1em;
    background-origin: content-box;
    margin: 0;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

footer {
    font-size: .7rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    grid-row:5 / 6;
    grid-column:2 / -2;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

dt {
    color: #003058;
    font-weight: bold;
}

body {
    font-family: Verdana, Arial, sans-serif;
}

h3 {
    color: #003058;
}

main {
    padding: 0 2rem;
    grid-row:4 / 5;
    grid-column: 2 / -2;
    background-color: #ffffff;
}

#studenthero {
    background-image: url(utahtechimages/studenthero.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#homehero {
    background-image: url(utahtechimages/homehero.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#facultyhero {
    background-image: url(utahtechimages/facultyhero.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#studenthero, #homehero, #facultyhero {
    grid-row:3 / 4;
    grid-column:2 / -2;
}

main img {
    float: right;
    padding-left: 2rem;
}