#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #ffffff;
    color: #666666;
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #f3f3f3;
}

h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
}


footer {
    font-size: .7rem;
}

.ut {
    color: #ba1c21;
}