#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: #ffffff;
    color: #666666;
}

header {
    background-color: #003058;
    color: #ffffff;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
}


footer {
    font-size: .7rem;
}

.ut {
    color: #ba1c21;
}