* {
    background-color: rgb(180, 180, 180);
}

img {
    width: 100%;
}

#wrapper {
    display: grid;
    grid-auto-rows: minmax(0, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

.instagram {
    width: 50px;
    margin-top: -100%;
}

.logo {
    width: 95px;
}

header {
    margin-bottom: 8px;
    height: 100px;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
}

header h1 {
    background-color: transparent;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    margin-top: 20px;
    width: 100%;
}

#hero {
    background-image: url(Hero-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
    grid-row: 2 / 3;
    grid-column: 1 / -1;
}

#navbuttons {
    background-color: transparent;
    display: flex;
    gap: 30%;
    justify-content: center;
    grid-row: 3 / 3;
    grid-column: 2 / -2;
    margin-top: -45px;
    height: fit-content;
}

#navbuttons a {
    background-color: rgb(84, 84, 253);
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: black;
}

#navbuttons a:hover {
    background-color: red;
}

main {
    background-color: transparent;
    padding: 15px;
    gap: 50px;
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 100px;
    margin-bottom: 50px;
    overflow-x: auto;
}

.col-3 {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    gap: 30px;
}

main p {
    height: auto;
    max-width: fit-content;
    padding: 10px;
    background-color: rgb(90, 188, 234);
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

main p:hover {
    background-color: red;
}

.col-3 img {
    width: 400px;
}

.col-3>div {
    width: 100%;
}

.home-img {
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

#gallary-img {
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

#gallary-img:hover {
    width: 220px;
}

.home-img img {
    object-fit: cover;
}

footer {
    grid-row: 4 / 5;
    grid-column: 4 / -4;
    color: rgb(87, 133, 133);
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
}

@media screen and (max-width: 1483px) {
    .col-3 {
        flex-flow: column wrap;
        width: 100%;
        align-items: center;
    }

    .col-3 div p {
        width: 380px;
    }
}

@media screen and (max-width: 938px) {
    
    .col-3 img {
        width: 200px;
        height: 200px;
    }
    
    .col-3 div p {
        width: 180px;
        margin-top: -180px;
    }
}

@media screen and (max-width: 848px) {
    #navbuttons {
        gap: 10%;
    }
}

@media screen and (max-width: 663px) {
    #navbuttons a {
        font-size: 30px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 660px) {
    main {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 620px) {
    header h1 {
        font-size: 250%;
    }
}