#wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 0px 3px rgba(66, 66, 66, 0.3);
}

body {
    background-color: #ffffff;
    color: #666666;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff)
}

header {
    background-color: #003058;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #f3f3f3;
    font-weight: bold;
}

h2 {
    color: #424242;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
    line-height: 140%;
    padding: .5rem;
}


footer {
    font-size: .7rem;
    font-style: italic;
    text-align: center;
}

.ut {
    color: #ba1c21;
    font-weight: bold;
}

dt {
    color: #003058;
    font-weight: bold;
}

body {
    font-family: Verdana, Arial, sans-serif;
}